<header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-nav fixed-top " style="background-color: #508484;">
        <div class="" style="width: 1920px; display: flex;">
          <div class="d-flex" style="width: 22%;  height:80px; align-items: center;">
            <a class="navlink" style="margin-left: 20px;font-size: 30px;">TrollBATTA</a>
          </div>
          <div class="nav_box">
            <ul class="nav" style="justify-content:space-between; height: 80px; align-items: center;">
              <li class="nav-item">
                  <a class="navlink nav_font" aria-current="page" href="/">홈</a>
              </li>
              <li class="nav-item">
                  <a class="navlink nav_font" aria-current="page" href="/search">AI추천</a>
              </li>
              <li class="nav-item">
                  <a class="navlink nav_font" aria-current="page" href="/community">커뮤니티</a>
              </li>
                  <!-- <select class="form-select"
                  style="width: 80px ;
                        height: 40px; 
                        border-radius: 5px;
                        position: absolute;
                        top: 10px;
                        right: 605px">
                    <option value="kr">KR</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select> -->
              <input
                    class="form-control"
                    type="search"
                    name="searched"
                    placeholder="소환사명"
                    aria-label="Search"
                    style="width: 220px ;height: 40px; border-radius: 5px;"
                   />
                <button class="btn"type="submit" style="position: absolute; top: 29px; right: 420px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16" >
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                     </svg>
                </button>
            </ul>
          </div>
          
            <!-- <div class="d-flex justify-content-end"> -->
              <!-- {% if user.is_authenticated %} -->
              <!-- <span class="mx-2">{{user}}</span> -->
              <!-- <a href ="" class="btn navlink">로그인</a>
              <a href ="" class="btn navlink">회원가입</a> -->
              <!-- <a href="" class="btn btn-warning">로그아웃</a> -->
              <!-- {% else %} -->
              <!-- {% endif %} -->
            <!-- </div> -->



              <div class="d-flex" style="width: 22%;  height:80px; align-items: center; justify-content: flex-end; padding-right: 60px;">
                <a href="" class="navlink nav_font" style="padding-right: 20px;">로그인</a>
                <a href="" class="navlink nav_font">회원가입</a>
              </div>
        </div>
        
      </nav>
    </header>
    