{% extends "community/base.html" %} {% comment %}{% endcomment %}
{% load static %}
{% block main %}
    <div class="container" style="z-index:99">
        {% include "community/layout/sidebar.html" %}
        
        

        <div class="d-flex justify-content-center" style="margin-top: 30px;"></div>
        {% if user.is_authenticated %}
        {{user}}<a href='write'>글쓰기</a>
        {% else %}
        글을 쓰려면 <a href="/user/login">로그인</a>을 해주세요.
        {% endif %}
        
                
            <form style="position:relative; display:flex; justify-content: flex-end;">
                <input type="search" placeholder="검색">
                <button class="btn"type="submit" style="position:absolute; top:0px; right:5px; height:30px; padding:0px 2px 0px 0px;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-search">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                  </svg>
                </button>
            </form>
            
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">no.</th>
                        <th scope="col">카테고리</th>
                        <th scope="col">제목[댓글수]</th>
                        <th scope="col">작성자</th>
                        <th scope="col">작성시간</th>
                        {% comment %} <th scope="col">추천</th>
                        <th scope="col">조회수</th> {% endcomment %}
                    </tr>
                </thead>
                <tbody>
                    {% comment %} {% for article in articles: %} {% endcomment %}
                    {% for notice in notice_list %}
                    <tr>
                        
                        <th scope="row">{{ notice.id }}</th>
                        <td>{{ notice.category_id.category_name }}</td>
                        <td><a href="/community/detail/{{notice.id}}/">{{ notice.title }}</a></td>
                        <td>{{ notice.user }}</td>
                        <td>{{ notice.created_at }}</td>
                        {% comment %} <td>??</td>
                        <td>??</td> {% endcomment %}
                    </tr>
                    {% endfor %}
                    {% for article in article_list %}
                    <tr>
                        <th scope="row">{{ article.id }}</th>
                        <td>{{ article.category_id.category_name }}</td>
                        <td><a href="/community/detail/{{article.id}}/">{{ article.title }}</a></td>
                        <td>{{ article.user }}</td> 
                        <td>{{ article.created_at }}</td>
                        {% comment %}
                        <td>??</td>
                        <td>??</td>
                        {% endcomment %}
                    </tr>
                    {% endfor %}
                    {% comment %} {% endfor %} {% endcomment %}
                </tbody>
            </table>
    </div>
{% endblock %}